/*.contents__add--container {*/
/*    margin: 10rem 0;*/
/*}*/

.contents__add--table {
    color: #26a69b;
    cursor: pointer;
    border: solid 0.2rem #26a69b;
    font-weight: bold;
    padding: 0.4rem 4rem;
    border-radius: 0.3rem;
    transition: .3s;
}
.contents__add--table:hover {
    background: #26a69b;
    color: white;
}
