a {
    margin: 0 1rem;
}

.App-description__button--sample {
    display: inline-block;
    background-color: #26a69b;/*背景色*/
    color: #FFF;/*文字色*/
    font-size: 1.6rem;/*文字サイズ*/
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em;/*字間*/
    padding: 1rem 2.5rem;/*ボタン内の余白*/
    border-radius: 3px;/*角の丸み*/
    cursor: pointer;
    transition: .3s ease-out;/*変化を緩やかに*/
}

.App-description__button--how-to-use {
    display: inline-block;
    background-color: #26a69b;/*背景色*/
    color: #FFF;/*文字色*/
    font-size: 1.6rem;/*文字サイズ*/
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em;/*字間*/
    padding: 1rem 2.5rem;/*ボタン内の余白*/
    border-radius: 3px;/*角の丸み*/
    cursor: pointer;
    transition: .3s ease-out;/*変化を緩やかに*/
}
