.table {
    border-collapse: separate;
    /* 隣接するセルの線と線の間隔を0に */
    border-spacing: 0;
    border: 2px solid #497285;
    border-radius: 0.4rem;
    margin: 2rem 0.5rem;
}

.table thead th {
    padding: 1rem 1rem;
    border-bottom: 1px solid #497285;
}
/* 隣接セレクタ */
/* .table tbody tr td の あと の td */
.table tbody tr td + td {
    border-left: 1px solid #497285;
}
/* 2行目以降のセルの上だけ線を表示 */
.table tbody tr + tr td {
    border-top: 1px solid #497285;
}

table tbody td {
    padding: 0.4rem 1.0rem;
    width: 20rem;
}
.table__caption {
    margin: 0.5rem 0;
}

.table__title {
    position: relative;
    width: 50%;
    margin: 0.5rem 3%;
    color: #0e1e25;
    font-size: 1.8rem;
}
.table__title input[type='text'] {
    /*font: 1.5rem/2.4rem sans-serif; !* font-size/line-height font-family *!*/
    font-size: 1.5rem;
    line-height: 2.4rem;
    box-sizing: border-box; /* box-size パディングとボーダーを幅と高さに含める */
    width: 100%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px; /* 文字間隔 */
    color: #333;
    border: none;
    border-bottom: 0.2rem solid #333;
    background: transparent;
}

.ef input[type='text']:focus {
    border-bottom: 0.2rem solid #45BBB7;
    outline: none; /* 縁取り */
}

.table__header--pros {
    background: #45BBB7;
    color: white;
    font-size: 1.4rem;
}
.table__header--cons {
    color: #f7f7f7;
    background: #ff7675;
    font-size: 1.4rem;
}

.table__body {
    font-size: 1.2rem;
}

.table__data--textarea-pros {
    border: 2px solid #8a8a8a;  /* 枠線 */
    border-radius: 0.5rem;   /* 角丸 */
    padding: 0.9rem;          /* 内側の余白量 */
    background-color: snow;  /* 背景色 */
    width: 100%;             /* 横幅いっぱいにする */
    box-sizing: border-box;  /* ※これがないと横にはみ出る */
    height: 8rem;           /* 高さ */
    margin: 0.5rem 0;
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */
    transition: .2s;
}
.table__data--textarea-pros:focus {
    border: 0.2rem solid #45BBB7;
    border-radius: 0.5rem;   /* 角丸 */
    outline: 0;
}

.table__data--textarea-cons {
    border: 2px solid #8a8a8a;  /* 枠線 */
    border-radius: 0.5rem;   /* 角丸 */
    padding: 0.9rem;          /* 内側の余白量 */
    background-color: snow;  /* 背景色 */
    width: 100%;             /* 横幅いっぱいにする */
    box-sizing: border-box;  /* ※これがないと横にはみ出る */
    height: 8rem;           /* 高さ */
    margin: 0.5rem 0;
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */
    transition: .2s;
}
.table__data--textarea-cons:focus {
    border: 0.2rem solid #ff7675;
    border-radius: 0.5rem;   /* 角丸 */
    outline: 0;
}


.table__data--value {
    padding: 0.1rem 0.1rem;
    width: 10%;
}

.table__data--sum-value {
    font-size: 1.6rem;
    font-weight: 900;
}

.table__data--number {
    width: 1rem;
}

.close-parts {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    border: 1px solid rgba(255,118,117,.4);
    cursor: pointer;
}
.close-parts span::before,
.close-parts span::after {
    background: #ff7675;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 16%;
    margin: -8% 0 0 -42%;
}
.close-parts span::before {
    transform: rotate(-45deg);
}
.close-parts span::after {
    transform: rotate(45deg);
}
.table__data {
    position: absolute;
}
.table__data--figure-pros {
    display: inline-block;
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
    border: solid 0.1rem #8a8a8a;
    border-radius: 50%;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}
.table__data--figure-cons {
    display: inline-block;
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
    border: solid 0.1rem #8a8a8a;
    border-radius: 50%;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}
/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px) {

}
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {
    table {
        /*margin: 5rem;*/
        width: 100vm;
    }

    table th {
        padding: 1.0rem 13.6rem;
    }

    table td {
        padding: 0.4rem 13.6rem;
    }

    .table__title {
        font-size: 2.0rem;
    }

    .table__header {
        font-size: 1.4rem;
    }
    .table__body {
        font-size: 1.2rem;
    }

}
