.App {
  text-align: center;
}
.App-description__title-section {
  margin: 2rem 2.5rem 1.5rem;
}

.App-description__title {
  width: 100%;
}

.content__container {
  display: block;
}

@media (min-width: 768px) {

}
@media (min-width: 1024px) {
  .App-description__title {
    width: 20%;
  }

  .contents__container {
    display: flex;
  }
}
