html {
    font-size: 62.5%; /* -> 10px; */
}

body {
    background: #f7f7f7;
    color: #333;
    font-size: 1.6rem; /* -> 16px; */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Hiragino Kaku Gothic ProN, Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial, メイリオ, Meiryo, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
}
